<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Invitation</title>
</head>
<body>
    <p>Dear Complainant,</p>
    <p>An appointment has been created for the following case:</p>
    <ul>
        <li>Case Number: {{ case_number }}</li>
        <li>Case Name: {{ case_name }}</li>
        <li>Date: {{ date }}</li>
        <li>Time: {{ time }}</li>
        <li>Location: {{ location }}</li>
    </ul>
    <p>Please be present at the specified time and location.</p>
    <p>Best regards,<br>Your Organization</p>
</body>
</html>
